
body, html {
  background-color: #0c0c0c;
}
.main-block {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: Fjalla one;
    width:100%

}

.contact-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:75%;
}


.info {
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    font-size: large;
    width:100%;
    
    

    input{
        all:unset;
        margin-bottom:10px;
        font-size:large;
        font-family: Fjalla one;
        border-radius:16px;
        background-color:white;
        color:black;
        width:100%;
        cursor: pointer;
    }
    textarea{
        width: 100%; 
        height:100px;
        font-size:large;
        font-family: Fjalla one;
        border-radius: 10px;
        cursor: pointer;

    }
}

.info input:focus, .info textarea:focus {
    outline: 2px solid #af4428;
}

button.btn {
    all: unset;
    border:1px solid white;
    padding:5px;
    margin-block:10px;
    border-radius:5px;
}
button.btn:hover {
    border-color: #af4428;
    cursor: pointer;
}