
body, html {
  background-color: #0c0c0c;
}
.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Fjalla one;
  width:100%
}
.main-block h1 {
  font-size: 36px;
  margin-bottom: 0;
  font-weight: 100;
}
.main-block p {
  font-size: larger;
  margin-top: 0;
}

.crop-img {
  width:75%; 
  aspect-ratio: 1/1; 
  border-radius: 16px;
}

.crop-img img{
  width:100%; 
  height:100%; 
  object-fit:cover;
}
