<div class="main-block">
    <h1>Contact Us</h1>
    <p>Have any questions? Reach out bellow!</p>
    <form class="contact-form" action="/" method="post">
        <div class="info">
            <label>Full Name</label>
            <input class="fname" type="text" name="name" placeholder="Full Name" required>
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" required>
            <label>Phone Number</label>
            <input type="text" name="phone" placeholder="Phone">
        
            <label>Message</label>
            <textarea name="message" placeholder="Your Message" required></textarea>
        </div>
            <button class="btn" type="submit">Send</button>
    </form>
</div>