<div class="main-block">
  <!-- Hero Section -->
  <div style="margin-top:0">
    <h1>Need a website for your Business?</h1>
  </div>

  <!-- About Section-->
  <div>
    <img class='crop-img' src="app/media/Pictures/Programming me.jpg" alt="Steven's Image">
    <p>
      Hello, I’m <a class="link-site" href="/about" alt="about me link">Steven!</a> I build clean, modern websites for small businesses.<br><br>
      With a <a class="link-site" href="/resume" alt="Steven's Resume">background</a> in plumbing — including shower remodels and other hands-on trade work — 
      and experience in both the automotive and restaurant industries, 
      I understand how real businesses operate and what customers look for.<br><br>
      I bring that same work ethic and attention to detail into every website I create.
    </p>
  </div>

  <!-- Skills Section -->
  <div>
    <p>These are just a few <a class="link-site" href="/projects" alt="My Projects">sites</a> built by yours truly.</p>
    <!-- Compnay Examples -->
    <div style="margin-inline: 0; margin-top:0">
      <a href="/projects" alt="Stevens Project"><img class="company-img" src="app/media/Company/Logos/Bluff Creek Electric LLC.webp"></a>
      <a href="/projects" alt="Stevens Projects"><img class="company-img" src="app/media/Company/Logos/Patricks Home Services LCC.jpeg"></a>
      <a href="/projects" alt="Steven's Projects"><img class="company-img" src="app/media/Company/Logos/Double Dubs.jpg"></a>
    </div>
  </div>

  <!-- Experience Section -->
  <div>
    <p>My <a class="link-site" href="/resume">background</a> combined with tech helps me know how and where to reach clients best.</p>
    <ul style="text-align: left; list-style:disclosure-closed;">
      <li>Custom websites for small businesses</li>
      <li>Mobile-friendly designs</li>
      <li>Basic SEO setup</li>
      <li>Fast hosting & easy editing</li>
    </ul>
  </div>

  <!-- CTA Section -->
  <div>
    <p>Stop missing the leads that keep the cash rolling — Get a Free Quote Today.</p>
    <a class="btn" href="/contact">Click Here!</a>
  </div>

  
</div>