<div class="main-block">

  

  <!--Laptop Layout-->
  <div class="laptop">
    <!--Screen-->
    <div class="screen">
        <img src="app/media/Company/Patricks Home Service.png" alt="Patrick's Home Service">
        <!-- <img src="app/media/Company/Bluff Creek Electric.png" alt="Bluff Creek Electric"> -->
    </div>

    <!--Base-->
    <div class="base"></div>
  </div>

  <!-- Back button -->
  <!-- <button class="btn" onClick="change()">&lt;</button> -->

  <!--Next Button-->
  <!-- <button class="btn" onClick="change()">&gt;</button> -->
</div>
